.header {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	margin-top: 12px;
	z-index: 999;
}

.button {
	border: none;
	background: none;
	margin-left: 66px;
	border-right: 2px solid black;
	height: 25px;
	margin-top: 15px;
	padding: 0 24px 0 0;
}

.img {
	height: 20px;
	width: 22px;
}

.text {
	text-transform: uppercase;
	line-height: calc(20 / 18);
	letter-spacing: 1.15px;
	font-family: Circe, serif;
	font-size: 18px;
	font-weight: 400;
	padding-left: 23px;
}