

.slides {
	display: flex;
	width: 100%;

	scroll-snap-type: x mandatory;
	scroll-snap-stop: always;

	overflow-x: scroll;
	overflow-y: hidden;

	position: relative;
}

.back {
	position: absolute;

	background: no-repeat;
	background-size: cover;

	top: 0;
	left: 0;
	width: 3048px;
	height: 768px;
}