.content {
	position: relative;
	text-transform: uppercase;
	margin-left: 67px;
	padding-top: 160px;
	letter-spacing: 1.8px;
	z-index: 3;
}

.small {
	font-family: "DIN Pro", serif;
	font-size: 27px;
	margin: 0 0 13px;
}

.container {
	position: relative;
}

.light {
	font-family: Gilroy, serif;
	font-weight: 300;
	font-size: 111px;
	margin: 0 0 0 -2px;
	letter-spacing: 4.75px;
	line-height: 117px;
}

.extraBold {
	font-weight: 800;
}

.button {
	background: #ff6a9f;
	display: flex;
	align-items: center;
	position: absolute;
	height: 80px;
	width: 288px;
	bottom: 14px;
	right: 108px;
	border-radius: 40px;
	border: none;
}

.buttonImg {
	display: block;
}

.buttonText {
	font-family: "DIN Pro", serif;
	font-size: 27px;
	display: block;
	padding: 6px;
	letter-spacing: 1px;
}